@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap);h1 {
  font-size: 2em;
  color: #3490dc;
  font-weight: lighter;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
}

a {
  color: #3490dc;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1em;
  padding: 1em;
  text-decoration: none;
  transition: ease 0.2s;
}

a:hover {
  background-color: #3490dc;
  color: white;
}

a.link-txt {
  display: inline;
  padding: 0;
  transition: none;
}

a.link-txt:hover {
  color: #6cb2eb;
  background-color: inherit;
  text-decoration: underline;
}

code {
  font-size: 1.2em;
  padding: 0.5em !important;
  border-radius: 0.1em;
  background-color: #f8fafc !important;
  border: 1px solid #f1f1f1;
}

textarea {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;
  border-color: #f1f1f1;
  font-size: 1.3em;
  padding: 1em;
  font-weight: lighter;
  width: 100%;
  resize: none;
  font-family: "Ubuntu", sans-serif;
  margin: 1em 0;
}

button {
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  background-color: #3490dc;
  color: white;
  border: 0.5px solid #f8fafc;
  padding: 1em;
  outline: none;
}

input {
  -webkit-appearance: none;
  padding: 0.6em;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  outline: none;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin-bottom: 1em;
}

input:focus {
  border-color: #3490dc;
}

select {
  border: 1px solid #f6993f;
  font-size: 18px;
  border-radius: 0px;
  background-color: white;
  padding: 5em;
  margin: 0;
  font-weight: lighter;
  outline: none;
}

.rotate-360 {
  transform: rotate(360deg);
}

.move-left {
  transform: translateX(-100vw);
}

@media (max-width: 710px) {
  div.wrapper {
    padding: 80px 1em;
  }

  body {
    background-color: white !important;
  }

  header {
    position: fixed !important;
    top: 0;
    left: 0;
  }

  nav.nav-desktop {
    display: none;
  }

  nav.nav-mobile {
    text-transform: uppercase;
    display: block !important;
  }

  nav.nav-mobile > img {
    width: 30px;
    transition: ease 0.3s;
  }

  nav.nav-mobile > .nav-ul-mobile {
    display: flex;
    transition: ease 0.5s;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 100vw;
    background-color: #6cb2eb;
    color: white;
    width: 100vw;
    min-height: 100vh;
    padding: 2em 0;
    margin: 0;
  }

  nav.nav-mobile > .nav-ul-mobile a {
    color: #f1f1f1;
  }

  nav.nav-mobile > .nav-ul-mobile > li {
    width: 100%;
  }

  nav.nav-mobile > .nav-ul-mobile > img {
    transition: ease 0.5s;
    width: 30px;
    position: absolute;
    right: 5%;
    top: 0.5em;
  }

  nav.nav-mobile > .nav-ul-mobile li {
    list-style: none;
  }
}

body {
  font-size: 0.9rem;
  font-family: "Ubuntu", sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 90%;
  margin: auto;
  padding: 2em;
  padding-top: 80px;
  background-color: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header > .wrapper-header {
  background-color: white;
  border-bottom: 5px solid #f8fafc;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

header > .wrapper-header > nav.nav-desktop > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header > .wrapper-header > nav.nav-desktop > ul > li {
  list-style: none;
}

header > .wrapper-header > nav.nav-mobile {
  display: none;
}

.logo-title {
  font-size: 2em;
  font-weight: bold;
  color: #3490dc;
}

.menu-cours:hover + .menu-list_of_cours {
  display: block;
}

.menu-list_of_cours {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.2);
  transition: ease 1s;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  overflow: hidden;
}

.menu-list_of_cours > a {
  color: black;
}

.menu-list_of_cours > a:hover {
  background-color: #f8fafc;
  color: #3490dc;
}

.menu-list_of_cours:hover {
  display: block;
}

li.menu-cours-li {
  position: relative;
}

.resume-chap {
  padding: 2em;
  font-weight: lighter;
  background-color: #f8fafc;
}

.resume-chap > .title-resume-chap {
  font-weight: bold;
}

.chap-select {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1em 0;
}

.chap-timeline {
  display: flex;
  max-width: 100%;
}

.chap-timeline > .chap-timeline-select {
  background-color: #f8fafc;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 5px;
  padding: 0;
  margin: 1px;
  min-width: 5%;
}

.chap-timeline > .chap-timeline-select:hover {
  background-color: #3490dc;
}

.chap-selected {
  background-color: #3490dc !important;
}

.code-ba {
  font-weight: bold;
  color: #3490dc;
}

.code-entt {
  font-weight: bold;
  color: #f6993f;
}

div.footer {
  width: 90%;
  margin: auto;
  padding: 2em 0;
  font-size: 0.8em;
}

.option-code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6993f;
  color: white;
  padding: 0.5em 0;
  font-weight: lighter;
  border-radius: 0.1em;
}

.add-chap-bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-chap-flex-option {
  display: flex;
  padding: 1em;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-chap-flex-option > * {
  margin: 0.2em 0;
  width: 49%;
}

.output {
  margin: auto;
  padding: 2em;
  width: 50%;
  background-color: white;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.1);
}

.add-chap-hidden {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.button-flex {
  display: flex;
}

.flex-output {
  display: flex;
  height: 100%;
  width: 100%;
}

.connexion-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.connexion-popup > div {
  display: none;
  margin: auto;
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.1);
  padding: 2em;
}

.add-cours-list {
  margin-bottom: 2em;
}

.add-cours-list-cour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f8fafc;
}

.add-cours-list-cour > span {
  margin-left: 1em;
  font-weight: bold;
}

.member-list-bloc {
  margin-bottom: 2em;
}

.member-list-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #f8fafc;
  align-items: center;
}

.member-list-flex > span {
  flex: 1;
}

.member-list-flex > .member-name {
  margin-left: 1em;
  font-weight: bold;
}

.member-list-flex > .member-rights-member {
  color: #38c172;
}

.member-list-flex > .member-rights-admin {
  color: #e3342f;
}

.member-list-flex > .member-mail {
  font-weight: lighter;
}

